.breadcrumbs {
    padding: 0 50px;
    font-size: 0.875rem;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs li+li:before {
    content: '>';
    padding: 10px;
}

@media screen and (max-width: 720px) {
    .breadcrumbs {
        padding: 0 4.8vw;
        font-size: 0.875rem;
    }
}